alias l="ls -Flah"
alias e="emacs"
alias py="python"
alias cdd="cd /d/Dropbox/_projects/Harvard_data_science_109/virtualenv"
alias ..="cd .."

alias gits="git status"
alias gita="git add"
alias gitc="git commit -m"

alias pys="python -m SimpleHTTPServer 8080"

